.color-primary {
  color: #8886fc;
}

.bg-primary {
  background-color: #8886fc;
}

@media only screen and (min-width: 1200px) {
  #intermarket {
    background-image: url("/assets/images/dashboard-bg-1.png");
    background-repeat: no-repeat;
    background-position: left;
  }
}
/*# sourceMappingURL=style.css.map */